
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";


.navbar{
  margin-bottom: 15px;
}
.nav{
  padding-top: 12px;
}

.bg-white{
  background-color: #fff;
}
// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";
